/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #4dc8ff, #ffe400); /* Degradado de fondo */
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.2em;
  margin: 15px 0;
}

/* Botón estilizado */
button {
  padding: 15px 30px;
  font-size: 1em;
  background-color: #ff4a4a;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  background-color: #d93636;
  transform: scale(1.05);
}

/* Estilo del código QR */
img {
  max-width: 200px;
  height: auto;
  border: 3px solid #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Oculta por defecto las secciones */
.mobile, .desktop {
  display: none;
}
